#!/bin/sh
# -*- mode: shell-script -*-

# Limit which Gitlab users / namespaces are allowed to submit jobs on
# Valve's runners.

set -eu

if echo "$GITLAB_USER_LOGIN" | grep -qE '^({{ "|".join(gitlab_runner_allowed_users) }})$' || \
   echo "$CI_PROJECT_NAMESPACE" | grep -qE '^({{ "|".join(gitlab_runner_allowed_namespaces) }})$';
then
   echo "Access permitted"
   exit 0
else
   echo "Access denied"
   echo "The machines exposed by this runner are only allowed to be used by Valve-authorized projects and/or persons"
   echo "Please contact either @eric or @mupuf in Gitlab if you want access to this service"
   exit 1
fi
