[Unit]
Description=executor server
Requires=executor-http.socket executor-dhcp.socket executor-tftp.socket salad.socket minio.socket
PartOf=infra.service

# Delay starting the executor until after the minio configuration service has started to prevent queueing jobs before
# all the artifacts are setup
Wants=minio_configure.service
After=minio_configure.service

[Service]
User=executor
Group=executor
KillMode=process
TimeoutStartSec=0
LimitNOFILE=16384
EnvironmentFile={{ base_config_env_file }}
EnvironmentFile=-{{ registries_env_file }}
EnvironmentFile=-{{ config_env_file }}
EnvironmentFile=-{{ minio_env_file }}
ExecStartPre=+mkdir -pv /config/ /cache/boots /cache/executor/ /var/run/executor /etc/gitlab-runner/
ExecStartPre=+touch /config/mars_db.yaml /etc/gitlab-runner/config.toml
ExecStartPre=+chown -R executor:executor /var/run/executor /cache/boots /cache/executor/ /config/mars_db.yaml /etc/gitlab-runner/config.toml
ExecStart=executor
Restart=always
RestartSec=1s

[Install]
WantedBy=infra.service
