set -o nounset

[ -f {{ vivian_config }}/bash_login.env ] && source {{ vivian_config }}/bash_login.env
__service_log="${VALVE_INFRA_FOLLOW_LOG:-}"

if [ -n "$__service_log" ]; then
   if [ "$__service_log" = "all" ]; then
      journalctl --boot --follow --no-tail
   else
      journalctl --boot --follow --no-tail -u "$__service_log"
   fi
elif [ -z "${TMUX+z}" ]; then
   tmuxp load dashboard
fi

# If you exit here, the service will auto-restart thanks to the login script trick.
# exit 0
# For now, fall thru and open the shell.
exec bash

[ -r /etc/bash.bashrc ] && . /etc/bash.bashrc
