[Service]
# NOTE: We need the root user for the `ExecStartPre` commands, needed to create the base folder for influxdb
DynamicUser=No
User=root
Group=root
ExecStartPre=-mkdir {{ influxdb_path }}
ExecStartPre=-chown -R influxdb:influxdb {{ influxdb_path }}

LimitNOFILE=65536
EnvironmentFile=-/etc/default/influxdb
StateDirectory=
Environment="INFLUXD_CONFIG_PATH=/etc/influxdb"
ExecStart=su - influxdb -c "/usr/local/bin/influxd --http-bind-address=':{{ influxdb_port }}' --bolt-path {{ influxdb_path }}/influxd.bolt --engine-path {{ influxdb_path }}/engine"
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=infra.service
Alias=influxd.service
