[Unit]
Description={{ registry.name }} registry service
PartOf=infra.service

[Service]
User=registry
Group=registry
ExecStartPre=+mkdir -pv {{ registry.mount_point }}
ExecStartPre=+chown -R registry:registry {{ registry.base_mount }} {{ registry.mount_point }}
ExecStart=-/usr/local/bin/registry serve {{ registry.config_path }}
Restart=always
RestartSec=1s

[Install]
WantedBy=infra.service
