[Unit]
Description=Minio
Documentation=https://docs.minio.io
Wants=network-online.target
Requires=minio.socket
After=network-online.target minio.socket
AssertFileIsExecutable=/usr/local/bin/minio
PartOf=infra.service

[Service]
# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536
TasksMax=2048

Type=simple
DynamicUser=No
User=minio
Group=minio

ExecStartPre=+mkdir -p {{ cache_mount }}/minio
ExecStartPre=+chown -R minio:minio {{ cache_mount }}/minio
ExecStartPre=+chmod -R u+rwx {{ cache_mount }}/minio
ExecStartPre=+/usr/local/bin/minio_genpw

# Make sure to source the env files as late as possible, since we may have created/updated them in a StartPre script
# NOTE: `set -a` is there to auto export all the variables created in the shell
ExecStart=/bin/sh -c 'set -a; source {{ minio_env_file }}; /usr/local/bin/minio server --address 127.0.0.1:9999 --console-address :{{ minio_console_port }} {{ cache_mount }}/minio'

Restart=always
RestartSec=1s

# SIGTERM signal is used to stop Minio
KillSignal=SIGTERM
SendSIGKILL=no
SuccessExitStatus=0

[Install]
WantedBy=infra.service
